# =========================
# NODE / FRONTEND
# =========================
node_modules/
dist/
build/
.vite/

# =========================
# PYTHON / BACKEND
# =========================
venv/
__pycache__/
*.pyc

# =========================
# ENV FILES
# =========================
.env
.env.local

# =========================
# IDE FILES
# =========================
.vscode/
.idea/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# LOG FILES
# =========================
*.log

# =========================
# TEMP FILES
# =========================
tmp/
temp/

# =========================
# IBM / EXPORTS
# =========================
*.zip